spotifyd
GIMP
LarusStone
Prospect\ Mail
Slack
Unknown\ Organization
dunst
google-chrome
gtk-2.0
gtk-3.0
gufetch
htop
jgit
khal
libreoffice
light
nitrogen
pulse
rofi
systemd
spotify-tui
unity3d
discord
xdg-terminals.list
pacmixer
QtProject.conf
dconf
mimeapps.list
tmux/tmux-client-*.log
configstore
nvim/.luacheckrc
