spotifyd
GIMP
LarusStone
Prospect\ Mail
Slack
Unknown\ Organization
dunst
google-chrome
gtk-2.0
gtk-3.0
gufetch
htop
jgit
khal
libreoffice
light
nitrogen
pulse
ranger
rofi
systemd
spotify-tui
unity3d
discord
